body {
    background-color: #393e48;
    width: 80%;
    color: white;
}

p {
    text-indent: 20px;

}

a {
    color: #ff8de3;
}

#header {
    background-color: #ebebeb;
    height: 30px;
    flex-wrap: wrap;

}

#fon {
    background-color: #505968;
    padding: 5px;
    height: 500px;
}

/*@media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;

}

@media screen and (min-width: 550px){

}
@media screen and (min-widt: 769px) {

}
@media screen and (min-width: 960px) {

}
*/
